.tbl1 td {
	height: 20px;
}

.img_com {
	float:left;
	margin: 80px;
}
.txt_notice {
	font-size: 13px;
}
.txt_field {
	text-align: right;
	padding: 10px;
	font-size: 13px;
}

hr {
	clear:both;
}

.com_account_text_area {
	float:left;
	padding: 10px;
}

.select_business {
	width: 450px;
}

.txtbox1 {
	width: 450px;
	height: 25px;
}
.bottom_btn  {
	text-align: center;
	margin: 0 auto;
}
.bottom_btn input {
	width: 200px;
	height: 40px;
	background-color: blue;
	font-size: 15px;
	color: white;
	border: 0px;
}
