
.txt_welcome {
	text-align: center;
}

.img_profile {
	float:left;
	margin: 80px;
}


.tbl1 {
	width: 500px;
	height: 400px;
}

.txt_result_field {
	text-align: center;
	width: 250px;
	font-size: 10px;
}
.txt_result_value {
	font-size: 20px;
}

.bottom {
	text-align: center;
}

.bottom input {
	clear: both;
	width: 180px;
	height: 40px;
	background-color: blue;
	font-size: 15px;
	color: yellow;
}