.curriculum_vitae_table td {
	height: 40px;
}

.img_profile {
	float:left;
	margin: 60px;
}

.tbl1 input {
	width: 300px;
	height: 20px;
	background: white;
	border: 10px blue;
}

.txt_field {
	text-align: right;
	padding: 10px;
	padding-left: 100px;
	font-size: 15px;
}

.btn_save {
	clear: left;
	width: 150px;
	height: 30px;
	font-size: 15px;
	margin-left: 550px;
	padding: 0px;

}
