.com_myinterest_table td {
	height: 40px;
}

.com_myinterest_comment {
	padding: 10px 100px;
	color: blue;
	font-size: 15px;
}

.com_myinterest_manage {
	float:left;
	margin: 40px;
}

.com_myinterest_text {
	width: 300px;
	height: 20px;
	background: white;
	border: 10px blue;
}

.com_myinterest_button {
	width: 150px;
	height: 30px;
	background-color: white;
	color: black;
	border: 0px;
	font-size: 15px;
}

.com_myinterest_button_save {
	clear: left;
	text-align: center;
}

.com_myinterest_button_save input{
	width: 150px;
	height: 30px;
	background-color: white;
	color: black;
	border: 0px;
	font-size: 15px;
}
