.txt_notice1 {
	text-align: center;
	font-size: 15px;
	color: purple;
}

.img_addcard {
	float:left;
	margin: 50px;
}
.tbl1 {
	height: 50px;
}

.txt_field {
	text-align: center;
}

.select_cardtype {
	width: 130px;
	height: 25px;	
}
.txtbox_cardnum {
	width: 230px;
	height: 25px;		
}
.txtbox_name {
	width: 180px;
	height: 25px;			
}
.txtbox_date {
	width: 130px;
	height: 25px;	
}


.txt_field {
	font-size: 14px;
}

.btn_addmorecard {
	float: right;
}

.btn_save {
	clear: both;
	margin-left:400px;
	width: 220px;
	height: 40px;
	background-color: #29088A;
	color: white;
	font-size: 15px;
	text-align:-moz-center; /*FF*/
	text-align:center; /*IE*/
}

.txt_notice2 {
	text-align: right;
	font-size: 10px;
}

