.tbl1 {
	height: 300px;
}

.login_image {
	width: 80px;
	height: 30px;
}
.txtbox_email, .txtbox_password {
	width: 130px;
	height: 25px;
	background-color: #E0F8F7;
}

.login_search {
	width: 110px;
	height: 30px;
	background-color: green;
}
.login_cancel {
	width: 110px;
	height: 30px;
	background-color: blue;
}