

.login_image {
	width: 80px;
	height: 30px;
}
.login_email {
	width: 120px;
	height: 30px;
	background-color: white;
}
.login_password {
	width: 120px;
	height: 30px;
	background-color: white;
}
.login_search {
	width: 110px;
	height: 30px;
	background-color: green;
}
.login_cancel {
	width: 110px;
	height: 30px;
	background-color: blue;
}