.tbl2 {
	margin-left: 80px;
	width: 90%;
}

.txtbox_email {
	width: 120px;
	height: 30px;
}
.txtbox_password {
	width: 120px;
	height: 30px;
}
.contents_searchbar {
	text-align: center;
	margin: 0 auto;
	width: 90%;
	height: 30px;
	border: 2px;
	border-color: blue;
}
.txt_name {
	font-size: 12px;
}
.btn_search {
	width: 100px;
	height: 30px;
}
.btn_asktojoin {
	width: 110px;
	height: 30px;
}
.btn_delete {
	width: 110px;
	height: 30px;
}