.create_event_table {
	float:left;
	padding: 10px;
}


.create_event_name {
	text-align: right;
	padding: 10px;
	padding-left: 100px;
	font-size: 18px;
}

.create_event_text {
	width: 300px;
	height: 20px;
	background: white;
	border: 10px blue;
}


.create_event_button {
	width: 100px;
	height: 20px;
	clear: left;
	text-align: center;
	background: green;

}

.create_event_save_change {
	clear: both;
	text-align: center;
}
.create_event_save_change input{
	width: 150px;
	height: 30px;
	background-color: blue;
	color: white;
	border: 0px;
	font-size: 15px;
}
