.create_event2_table {
	float:left;
	padding: 10px;
}
.create_event2_name, .create_event2_create_field {
	font-size: 15px;
}

.create_event2_name {
	text-align: right;
	padding: 10px;
}
.create_event2_create_field {
	background: blue;
	color: white;
}

.create_event2_text1 {
	width: 300px;
	height: 20px;
	background: white;
	border: 10px blue;
}


.create_event2_button {
	width: 100px;
	height: 20px;
	clear: left;
	text-align: center;
	background: green;

}

.create_event2_button_area {
	clear: both;
	text-align: center;
}
.create_event2_button_area input{
	width: 150px;
	height: 30px;
	background-color: blue;
	color: white;
	border: 0px;
	font-size: 15px;
}
