#contents {
	text-align: center;
}

#title {
 	float:left;
}
#login {
 	display:inline-block;
 	vertical-align:middle;
}

.ul_field {
	float:left;
	margin-left: 50px;
}

.ul_field li, .ul_txtbox li {
	text-align: center;
	height: 60px;
	line-height: 60px;
}
.ul_txtbox input {
	height: 40px;
	width: 500px;
}

.bottom_btn {
	clear:both;
	width:250px;
	height:80px;
	border:3px;
	color: white;
	background-color: purple;
	font-size:20px;
}