
.txt_welcome {
	text-align: center;
}

.ul_txt {
	text-align: center;
	list-style: circle;
}

.img_travel {
	float:left;
	margin: 80px;
}


.tbl1 {
	width: 500px;
	height: 200px;
}

.txt_result_field {
	text-align: center;
	font-size: 10px;
}
.txt_result_value {
	font-size: 20px;
}

.bottom {
	text-align: center;
}

.btn_bottom {
	clear: both;
	width: 150px;
	height: 40px;
	background-color: blue;
	color: yellow;
}