.div_profile, .div_password {
	height: 200px;
}

.tbl1 {
	display: inline-block;
	margin: 20px;
}

.tbl1 td {
	height: 30px;
}

.img_profile, .img_password {
	width: 150px;
	height: 150px;
	margin: 30px 80px;
}

.txt_field {
	text-align: right;
	padding: 10px;
	font-size: 18px;
}


.primary_info_text_area {
	float:left;
	padding: 10px;
}

.txtbox1 {
	width: 200px;
	height: 25px;
	background-color: white;
	border: thick blue;
}

.btn_save, .btn_upload {
	width: 60px;
	height: 20px;
	margin-left: 20px;
}