
.tbl1 {
	width: 600px;
}
.tbl1 td {
	height: 30px;
}


.txtbox_email, .txtbox_address, .txtbox_zipcode, .txtbox_homepage { width: 400px; }
.tbl1 select { width: 80px; }
.txtbox_countrycode { width: 100px; }
.txtbox_phonenum { width: 200px; }
.txtbox_faxnum { width: 320px; }
.txtbox_sns { width: 320px; }

.img_contact {
	float:left;
	margin: 80px;
}

.txt_field {
	text-align: right;
	padding: 10px;
	font-size: 15px;
}

.btn_save {
	clear: both;
	width: 60px;
	height: 20px;
}
