
.img_category {
	float:left;
	margin: 40px;
}
.tbl1 { width: 700px; }

.txtbox1 {
	width: 300px;
	height: 20px;
	background: white;
}

.txt_field {
	text-align: right;
	padding: 10px;
	font-size: 18px;
}
.txt_chkbox_field {
	font-size: 10px;
}
.btn_save {
	clear: left;
	width: 150px;
	height: 30px;
	font-size: 15px;
	text-align:-moz-center; /*FF*/
	text-align:center; /*IE*/
	border-spacing: 0px;
	border-style: none;
	padding: 0px;

}

.chkbox1 {
	width: 20px;
	height: 20px;
	background-color: white;
}
