.add_creditcard {
	float:left;
	margin: 40px;
}
.addcard_table td {
	height: 50px;
}


.addcard_name {
	text-align: center;
}

.addcard_text {
	height: 20px;
	background: white;
	border: 10px blue;
}

.add_morecard {
	float: right;
}

.addcard_button {
	clear: both;
	width: 150px;
	height: 30px;
	background-color: white;
	color: black;
	font-size: 15px;
	text-align:-moz-center; /*FF*/
	text-align:center; /*IE*/
}

.addcard_text_cardtype {
	width: 100px;	
}
.addcard_text_cardnum {
	width: 200px;	
}
.addcard_text_name {
	width: 150px;	
}
.addcard_text_date {
	width: 100px;	
}
