	link(href='header.css ', rel='stylesheet', type='text/css')
	#header
		.title
			h2 MICE Star
			p Organize & Manage your MICE smart!
		.login
			input.searchbar(type='search', name='search')
		hr(size='1', width='100%')
