#title {
 	float:left;
 	margin-top: 20px;
 	padding: 10px;
}

#login {
 	display:inline-block;
 	margin-left: 50px;
 	height: 80px;
}

.searchbar {
	float:right;
	min-height: 100px;
	width: 600px;
	height: 30px;
	background: white;
	border: 2px;
	border-color: blue;
	border-radius: 2px;
}

#login_window {
	float: right;
	display: table-cell;
	vertical-align: middle;
	width: 230px;
	height: 70px;
	margin-right: 10px; 
	background-color: purple;
	font-size: 15px;
	color: white;
}


.menubar table {
	text-align:-moz-center; /*FF*/
	text-align:center; /*IE*/
	margin: 0 auto;
	border: 2px black;
	border-spacing: 0px;
	padding: 0px 20px;
}
.menubar td {
	border-spacing: 0px;
	border: 2px black;
	padding: 0px 20px;
}
.menubar a {
	text-decoration: none;
	color: black;
}

.menubar2 {
	/*border: 0px;*/
} 

.menubar2 td {
	border: 1px;
}

.menubar2_button {
	border: 1px;
	border-color: black;
}