body,div,ul,li,dl,dt,dd,ol,p,h1,h2,h3,h4,h5,h6,form {margin:0; padding:0}
body {font:normal datum, '돋움';}
ul,ol,dl {list-style:none}
img {border:0; vertical-align:top;}
ul {list-style:none; padding:0; margin:0;}

#wrap { margin:0 auto; width:1000px; }
#header { float:left; width:1000px; height:100px; margin-bottom:15px; }
#contents { float:left; width:750px; }
#sidebar { float:right; width:200px; }
#footer { float:left; width:1000px; margin-top:20px; }

/* sidebar 스타일정의 */
.sidebar_title {
	text-align: center;
	line-height: 40px;
	width: 100%;
	height: 40px;
	background: black;
	font-size: 15px;
	color: white;
}

.sidebar_content {
	padding: 10px;
	font-size: 12px;
}

