body,div,ul,li,dl,dt,dd,ol,p,h1,h2,h3,h4,h5,h6,form {margin:0; padding:0}
body {font:normal datum, '돋움';}
ul,ol,dl {list-style:none}
img {border:0; vertical-align:top;}
ul {list-style:none; padding:0; margin:0;}

#wrap { margin:0 auto; width:1000px; }
#header { float:left; width:1000px; height:100px; margin-bottom:15px; }
#contents { float:left; width:1000px; }
#footer { float:left; width:1000px; margin-top:20px; }



#txtbox1 {
	!important
	border-color: blue;
	background: #E0F8F7;
}

#btn_purple {
	background: purple;
	color: white;
	border: none;
}